*{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}



